




<body>
<header>
  <h1>Pflanze hinzufügen</h1>
</header>

<div>


  <label for="text1"></label>
  <label for="text2"></label>
  <label for="text3"></label>
  <label for="text4"></label>


  <textarea id="text1" name="text" cols="40"  placeholder="Lateinischer Name"></textarea>
  <textarea id="text2" name="text" cols="40"  placeholder="Deutscher Name"></textarea>
  <textarea id="text3" name="text" cols="40"  placeholder="Aussehen"></textarea>
  <textarea id="text4" name="text" cols="40"  placeholder="Bemekungen / Sonstiges"></textarea>

  <a class="nav-link" href=" "><button>Home</button></a>

  <button>Save</button>

</div>
</body>
