




<body>
<header>
  <h1>Pflanze hinzufügen</h1>
</header>

<div>


  <label for="text1"></label>
  <label for="text2"></label>
  <label for="text3"></label>
  <label for="text4"></label>


  <textarea id="text1" name="text" cols="40"  placeholder="Lateinischer Name"></textarea>
  <textarea id="text2" name="text" cols="40"  placeholder="Deutscher Name"></textarea>
  <textarea id="text3" name="text" cols="40"  placeholder="Aussehen"></textarea>
  <textarea id="text4" name="text" cols="40"  placeholder="Bemekungen / Sonstiges"></textarea>

  <a class="nav-link" href=" "><button>Home</button></a>

  <button>Save</button>

</div>
</body>



<!--
<body>
<header>
  <h1>Pflanze erstellen</h1>

</header>
<form [formGroup]="form" (ngSubmit)="createNewPlant()">
  <div class="mb-3 row">



-->

<!--
    <label for="latname">Lateinischer Name:</label>


    <div class="col-10">
      <input type="text"  class="form-control" id="latname"
             placeholder=" Wissenschaftlicher Name"
             formControlName = "latnameControl"  />
    </div>



    <label for="dtname">Deutcher Name:</label>       -->
    <!-- <input id="dt-name" name="dt-name" type="text" value="grg " readonly/> -->

<!--
    <div class="col-10">
      <input type="text"  class="form-control" id="dtname"
             placeholder=" Deutscher Name"
             formControlName = "dtnameControl"  />
    </div>



    <label for="vgebiet">Vorkommensgebiet:</label>         -->
    <!-- <input id="description" name="description" type="text" value="grg " readonly/> -->


<!--
    <div class="col-10">
      <input type="text"  class="form-control" id="vgebiet"
             placeholder=" Vorkommensgebiet"
             formControlName = "vgebietControl"  />
    </div>



    <label for="verwend">Wirkung / Verwendung:</label>         -->
    <!-- <input id="Information" name="Information" type="text" value="grg " readonly/>    -->


<!--
    <div class="col-10">
      <input type="text"  class="form-control" id="verwend"
             placeholder=" Wirkung / Verwendung"
             formControlName = "verwendControl"  />
    </div>

    <label for="ofgattung">Ordnung / Familie / Gattung:</label>    -->
    <!-- <input id="Information" name="Information" type="text" value="grg " readonly/>    -->
<!--
    <div class="col-10">
      <input type="text"  class="form-control" id="ofgattung"
             placeholder=" Ordnung / Familie / Gattung"
             formControlName = "ofgattungControl"  />
    </div>



    <label for="anbauzeit">Anbau/- Pflanzungszeit:</label> -->
    <!-- <input id="Information" name="Information" type="text" value="grg " readonly/>    -->

<!--
    <div class="col-10">
      <input type="text"  class="form-control" id="anbauzeit"
             placeholder=" Anbau/- Pflanzungszeit"
             formControlName = "anbauzeitControl"  />
    </div>

  </div>

  <div class = "row">

    <button type="submit" class="col-5 btn btn-secondary">Erstellen</button>

    <button type="button" class="col-5 btn btn-secondary" (click)="cancel() ">Abbrechen</button>

  </div>
</form>
</body>
-->
