@import url('../../../node_modules/bootstrap-icons/font/bootstrap-icons.css');

/* Add a semi-transparent overlay to create a darker effect */
.table-overlay {
  position: relative;
  overflow: hidden; /* Ensure the overlay doesn't interfere with scrolling */
}

.table-overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3); /* Adjust the alpha value (0.3 for 30% opacity) */
  z-index: 1; /* Ensure the overlay is above the table */
}

/* Apply blur effect to the background */
.table-blur {
  backdrop-filter: blur(5px); /* Adjust the blur intensity as needed */
  position: relative; /* Ensure the blur effect is positioned relative to the overlay */
  z-index: 2; /* Ensure the blur effect is above the overlay */
}

table {
  display: block; /* Ensure tbody behaves like a block element */
  max-height: calc(85vh - 150px); /* Adjust 150px according to your header's height */
  overflow-y: auto; /* Enable vertical scrolling */

}


h1{
  color: darkgreen;


}

main {
  background-color: rgb(95, 4, 4);
  color: lightgreen;
}



body {


  display: flex;
  justify-content: center;

  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}


/* Adjust width of columns */
th.profil-column {
  /*width: 230px; /* Adjust the width as needed */

}

th.delete-column {
  /*width:300px; /* Adjust the width as needed */

}
