


<!--
<body>
<div>

  <h1>Liste aller Pflanzen</h1>
  <a class="nav-link" href="home"><button>Home</button></a>


  <table>
    <thead>
        <tr>


          <th scope ="col">Name</th>
          <th scope ="col">Lat. Name</th>
          <th scope ="col">Mehr Infos</th>
          <th scope ="col">Eintrag Löschen</th>
        </tr>
    </thead>
    <tbody>
    -->
    <!-- This is a comment
    @for (plants of plants; track plants.id) {
    <tr>
        <th scope="row">{{ plants.id }}</th>

        <td>{{ plants.dtName }}</td>
        <td>{{ plants.latName }}</td>

        -->


<!--
    <tr *ngFor="let plant of plants; let i = index">
      <th scope="row">{{ plant.id }}</th>
      <td>{{ plant.dtName }}</td>
      <td>{{ plant.latName }}</td>


        <td><button class="btn btn-sm btn-danger" (click)="delete(plant.id)">delete</button></td>

      </tr>

    </tbody>
  </table>

</div>
</body>
-->




<div>
  <h1>Liste aller Pflanzen</h1>
  <!--<a class="nav-link" routerLink=" "><button>Home</button></a> -->

  <table>
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Lat. Name</th>
      <th scope="col">Profil</th>
      <th scope="col">Eintrag Löschen</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let plant of plants; let i = index; "  >
      <td>{{ plant.dtname }}</td>
      <td>{{ plant.latname }}</td>


      <!--
      <td><button class="btn btn-sm btn-danger" (click)="delete(plant.id)">delete</button></td>
      -->

      <a [routerLink]="['/plant', plant.id]"> <span class=" bi bi-pencil-square px-5 "></span></a>

      <span (click)="delete(plant.id)"  class=" bi bi-trash px-5 " ></span>




    </tr>

    </tbody>
  </table>
</div>
