main {
  background-color: rgb(95, 4, 4);
  color: lightgreen;
}

div{
  background-color: darkgreen;
  color: black;

  justify-content: center;

}

header{
  background-color: darkgreen;
  color: black;
  align-items: center;
  justify-content: center;
}

