





<body>
<header>
  <h1>Pflanzenprofil</h1>
  <legend *ngIf="plant" class="mb-4">Eintrag von {{ plant.dtname }} aktualisieren
</legend>
</header>
<form [formGroup]="form" (ngSubmit)="updateOnePlant()">
<div class="mb-3 row">




  <label for="latname">Lateinischer Name:</label>
  <!--<input id="lat-name" name="lat-name" type="text" value="grg " readonly/> -->

  <div class="col-10">
  <input type="text"  class="form-control" id="latname"
         placeholder=" Wissenschaftlicher Name"
         formControlName = "latnameControl"  />
 </div>



  <label for="dtname">Deutcher Name:</label>
 <!-- <input id="dt-name" name="dt-name" type="text" value="grg " readonly/> -->

  <div class="col-10">
  <input type="text"  class="form-control" id="dtname"
         placeholder=" Deutscher Name"
         formControlName = "dtnameControl"  />
  </div>



  <label for="vgebiet">Vorkommensgebiet:</label>
  <!-- <input id="description" name="description" type="text" value="grg " readonly/> -->

  <div class="col-10">
  <input type="text"  class="form-control" id="vgebiet"
         placeholder=" Vorkommensgebiet"
         formControlName = "vgebietControl"  />
  </div>



  <label for="verwend">Wirkung / Verwendung:</label>
  <!-- <input id="Information" name="Information" type="text" value="grg " readonly/>    -->

  <div class="col-10">
  <input type="text"  class="form-control" id="verwend"
         placeholder=" Wirkung / Verwendung"
         formControlName = "verwendControl"  />
  </div>

  <label for="ofgattung">Ordnung / Familie / Gattung:</label>
  <!-- <input id="Information" name="Information" type="text" value="grg " readonly/>    -->

  <div class="col-10">
  <input type="text"  class="form-control" id="ofgattung"
         placeholder=" Ordnung / Familie / Gattung"
         formControlName = "ofgattungControl"  />
  </div>



  <label for="anbauzeit">Anbau/- Pflanzungszeit:</label>
  <!-- <input id="Information" name="Information" type="text" value="grg " readonly/>    -->


  <div class="col-10">
  <input type="text"  class="form-control" id="anbauzeit"
         placeholder=" Anbau/- Pflanzungszeit"
         formControlName = "anbauzeitControl"  />
  </div>

</div>

  <div class = "row">

    <button type="submit" class="col-5 btn btn-secondary">Aktualisieren</button>

    <button type="button" class="col-5 btn btn-secondary" (click)="cancel() ">Abbrechen</button>

  </div>
</form>
</body>
