





<body>
<header>
  <h1>Pflanzenprofil</h1>
</header>
<div>



  <label for="lat-name">Lateinischer Name:</label>
  <input id="lat-name" name="lat-name" type="text" value="grg " readonly/>

  <label for="dt-name">Deutcher Name:</label>
  <input id="dt-name" name="dt-name" type="text" value="grg " readonly/>

  <label for="description">Aussehen:</label>
  <input id="description" name="description" type="text" value="grg " readonly/>

  <label for="Information">Beschreibung / Sonstiges:</label>
  <input id="Information" name="Information" type="text" value="grg " readonly/>


</div>
</body>
