/* You can add global styles to this file, and also import other style files */

body {
  background-color: darkgreen;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-content {
  min-height: calc(80vh - 50px); /* Adjust height to accommodate footer */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px; /* Same height as the footer */
}

ACB-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: darkgreen;
  color: white;
  text-align: center;

}


