

html, body {
  height: 100%;

  padding: 0;
  background-image: url('./assets/Blumenwiese001.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: black;
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-content {
  min-height: calc(80vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

ACB-footer {

  bottom: 0;
  width: 100%;
  background-color: darkgreen;
  color: lightgreen;
  text-align: center;

}



