

@import url('../../../node_modules/bootstrap-icons/font/bootstrap-icons.css');

h1{
    color: darkgreen;
}
.button-container {
    display: flex;
    gap: 20px;  /*lücke zwischen den beiden Buttons*/
    justify-content: center;
}

.nav-link {
    text-decoration: none;
}

tr
{

    color :white
}
button
{
    background-color: lightgreen;
    color: black;
}

